@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Kalam', cursive;
}
body{
  background-color: rgb(22, 22, 46);
}

.headingClass{
  text-align: center;
  margin: 20px 0; 
}

.headingClass > input{
  background-color: transparent;
  border: 2px solid rgb(106, 106, 128);
  color: rgb(194, 194, 211);
  width: 400px;
  height: 30px;
  border-radius: 20px 0 0 20px;
  padding-left: 20px;
}

.headingClass > input:focus{
  outline: none;
}

.headingClass > button{
  background-color: rgb(106, 106, 128);
  height: 34px;
  border: none;
  padding: 0 30px;
  border-radius: 0 20px 20px 0;
  font-weight: 600;
}
.imageClass{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
}

.imageClass img{
  width: 300px;
  height: 200px;
  border: 6px solid transparent;
  transition: all .3s ease;
  /* border-radius:15px; */
}

.imageClass img:hover{
  scale: 1.8;
  border: 2px solid rgb(233, 241, 114);
  border-radius:0;
}

/* making page responsive */

@media(max-width: 625px){
  .headingClass > input{
    width: 170px;
  }
}

